/*
 * Integrated Grammar Development Environment
 * @author: T.J. Trimble
 *
 * avm.css
 *
 * CSS for styling and interacting with
 * IgdeTypedFeatureStructure HTML representations
 *
 */


.typedFeatureStructure {
    margin: 5px 5px;
}


.typedFeatureStructure ul li ul {
    margin-left: 1.5rem;
    border-left: 1px solid black;
    padding-left: 8px;
}


.typedFeatureStructure div {
    display: block;
}


.typedFeatureStructure p {
    display: inline-block;
    margin: 0px 2px;
}


.typedFeatureStructure li > p {
    margin-left: .75rem;
}


.typedFeatureStructure li > .IgdeCoreferenceTag + p {
    margin-left: .4rem;
}


.typedFeatureStructure .IgdeCoreferenceTag {
    display: inline-block;
}


.typedFeatureStructure .IgdeCoreferenceTag p {
    margin: 0;
}


.typedFeatureStructure .IgdeCoreferenceTag {
    color: #0000FF;
    margin-left: .75rem;
}


.typedFeatureStructure .IgdeCoreferenceTag:hover {
    color: #00CCFF;
}


.typedFeatureStructure .terminal {
    display: inline-block;
}