/*
 * Integrated Grammar Development Environment
 * @author: T.J. Trimble
 *
 * igde.css
 * 
 */

input {
    width: 83.3333% !important;
}

button {
    padding-top: 0.55em !important;
    padding-bottom: 0.55em !important;
    margin: 0 0 0 5px;
}

/* Font */
.derivationTree li p, .ui-tooltip, mrsVar {
    text-decoration: none;
    font-family: arial, verdana, tahoma;
    font-size: 12px;
}

.igdeButton {
    border: solid black 1px;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}