/*
 * Integrated Grammar Development Environment
 * @author: T.J. Trimble
 *
 * mrs.css
 * 
 */

table.mrsRelation {
    display: inline-table;
    margin: 5px 5px;
}

table.mrsInnerTable {
    display: inline;
    background: none;
    border: none;
}

.mrsVar, .mrsHandleConstraint, .mrsHandleConstraintRelation {
    margin: 0;
    display: inline;
}

.mrsHandleConstraint ~ p {
    display: inline;
}

.mrsVar {
    -webkit-transition: color .3s;
    transition: color .3s;
}

.mrsPropertiesBracket {
    display: inline;
    margin: 0 2px 0 2px;
}

.mrsPropertiesValues {
    display: none;
}

/* .mrsRelationProperties { */
/*     display: none; */
/* } */

/* table.mrsRelation p { */
/*     font-weight: normal; */
/*     text-align: center; */
/*     line-height: 1; */
/*     white-space: nowrap; */
/*     display: inline-block; */
/*     position: relative; */
/*     margin-bottom: auto; */
/*     padding: 0.25rem 0.5rem; */
/*     font-size: 1em; */
/*     background-color: none; */
/*     color: none; */
/* } */