{% extends "foundation/base.html" %}

{% import "foundation/fixes.html" as fixes %}


{% block head %}
    {{super()}}
    {{fixes.ie8()}}

{% endblock head %}

{% block title %}IGDE{% endblock title %}

{% block styles %}
    {{super()}}
    <!-- IGDE styles -->
    <link href="{{ url_for('static', filename='wxlui/igde.css')}}" rel="stylesheet"></link>
    <link href="{{ url_for('static', filename='wxlui/tree.css')}}" rel="stylesheet"></link>
    <link href="{{ url_for('static', filename='wxlui/mrs.css')}}" rel="stylesheet"></link>
    <link href="{{ url_for('static', filename='wxlui/avm.css')}}" rel="stylesheet"></link>
{% endblock styles %}

{% block head_scripts %}
    {{super()}}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <!-- IGDE scripts -->
    <script src="{{ url_for('static', filename='wxlui/igde.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='wxlui/tree.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='wxlui/mrs.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='wxlui/avm.js')}}" type="text/javascript"></script>
{% endblock head_scripts %}

{% block content %}
      {# Header + command window #}
      <div class="row">
        <div class="large-12 columns">
          <div class="panel centered">
            <h1>Integrated Grammar Development Environment</h1>
          </div>
	  <div class="panel centered">
	    <p>Grammar: "{{ grammar }}"</p>
	  </div>
	  <div>
	    <input type="text" id="comment" class="large-10 small-2 columns"></input>
	    <button type="button" class="large-2 small-2 columns button secondary" id="analyze">analyze</button>
	  </div>
        </div>
      </div>

      {# Result window #}
      <div class="row">
        <div class="large-12 columns">
	  <ul id="parses">
	  </ul>
        </div>
      </div>

      {# Footer #}
      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-12 columns">
              <p style="display:inline">Integrated Grammar Development Environment.</p>
	      <a style="float:right" href="http://www.delph-in.net/wiki/index.php/Home">delph-in.net</a>
            </div>
          </div>
        </div>
      </footer>

{% endblock content %}
